<% provide(:title, "About") %>
<section class = "main-body">
  <div class = "container">
    <div class = "row">
      <h1 class = "static-title">About</h1>
      <div class = "descriptive-text">
        <p>
          Proin vitae lacinia risus. Morbi lorem nisl, ornare at ultricies id, bibendum nec sapien. Proin diam orci, viverra vel nibh vel, vulputate varius lacus. Sed nec orci luctus, imperdiet lacus non, ultricies massa. Praesent odio eros, auctor non ligula ac, gravida porta tellus. Pellentesque sem urna, pharetra eget pellentesque non, euismod ac augue. Nullam aliquam tellus eget lacus ornare, in dignissim augue iaculis. Morbi sed placerat erat. Suspendisse at leo vel leo vestibulum pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
        <p>
          Donec in mauris tortor. Proin quis placerat est. Suspendisse cursus urna eget est pharetra, eget tincidunt orci varius. Nulla dignissim at elit a aliquet. Ut et cursus erat. Phasellus a turpis purus. Suspendisse at congue eros. Nullam mollis, odio ac mollis porta, nunc ipsum molestie diam, eu egestas lacus mi non erat.
        </p>
        <p>
          In ullamcorper commodo sapien, aliquet porttitor ante scelerisque venenatis. Maecenas volutpat arcu dapibus lectus imperdiet viverra. Aliquam viverra nisl massa, et posuere diam lacinia at. Quisque commodo convallis mi id condimentum. Mauris ullamcorper libero sit amet purus blandit accumsan. Etiam egestas, lacus eu viverra malesuada, augue ante accumsan nisi, vel pharetra dolor enim nec lectus. Mauris eget lectus elit. Praesent et pulvinar nibh.
        </p>
      </div>
    </div>
  </div>
</section>
