<% provide(:title, "Home") %>
<section class = "container main-body">
  <div class = "row">
    <div class = "span12 text-center">
      <h1 class = "temp-logo">
      <%= image_tag "logo.png", size: "109x85", class: "logo-pic" %>Clowder
      </h1>
    </div>
  </div>
  <div class = "row text-center" id = "checking_area">
        <p class = "intro-text">
        We are now opening our service to users in the Boston area!
        <br />
        Tell us where you are and immerse yourself into the local discussion.
        </p>
        <br />
        <button class = "btn btn-xlarge btn-primary" id = "test_geo"  type = "button">Count me in!</button>
        <p class = "button-sub-text">
        We will never use your location without your permission.
        </p>
  </div>
</section>
