<% provide(:title, "Home") %>
<section class = "container main-body">
  <div class = "row">
    <div class = "span4">
      <%= image_tag "logo.png", size: "184x142", class: "pull-right" %>
    </div>
    <div class = "span8 text-left">
      <h1 class = "temp-logo">Clowder</h1>
    </div>
  </div>
  <div class = "row eye-catcher">
    <div class = "span8">
      <%= image_tag "chat_map.png" %>
    </div>
    <div class = "span4">
      <div class = "pull-left">
        <br />
        <h3 class = "main-page">People like you.</h3>
        <h4 class = "main-page">Anywhere, Everywhere.</h4>
        <br />
        <button class = "btn btn-xlarge btn-primary" type = "button">Chat Now</button>
      </div>
    </div>
  </div>
</section>
<section class = "light-blue-block">
  <div class = "container">
    <div class = "row">
      <div class = "span8">
        <h1>Aligned Interests and Social Networks</h1> 
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper posuere interdum. Fusce gravida justo non lectus sodales, non tristique nunc congue. Suspendisse pulvinar risus odio, eget eleifend neque euismod ac. Morbi fermentum nisi non eros cursus tincidunt. Suspendisse potenti. Nam nec purus et sapien feugiat facilisis eu at diam. Morbi malesuada, enim ac lobortis dictum, orci elit pellentesque dui, in rutrum risus lorem eget tellus. Nullam libero ante, pellentesque ac augue volutpat, lacinia molestie ipsum. Vivamus luctus pulvinar eros sed dignissim. Nulla porta ante erat, id lobortis diam scelerisque a. Morbi et elementum nunc, eget bibendum nulla.
        </p>
      </div>
      <div class = "span4">
        <div class = "pull-right img-rounded" style = "background-color:#EEE; width:250px; height:250px;">
        </div>
      </div>
    </div>
  </div>
</section>
<section class = "white-block">
  <div class = "container">
    <div class = "row">
      <div class = "span4">
        <div class = "pull-right img-rounded" style = "background-color:#EEE; width:250px; height:250px;">
        </div>
      </div>
      <div class = "span8">
        <h1>Proximity</h1> 
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper posuere interdum. Fusce gravida justo non lectus sodales, non tristique nunc congue. Suspendisse pulvinar risus odio, eget eleifend neque euismod ac. Morbi fermentum nisi non eros cursus tincidunt. Suspendisse potenti. Nam nec purus et sapien feugiat facilisis eu at diam. Morbi malesuada, enim ac lobortis dictum, orci elit pellentesque dui, in rutrum risus lorem eget tellus. Nullam libero ante, pellentesque ac augue volutpat, lacinia molestie ipsum. Vivamus luctus pulvinar eros sed dignissim. Nulla porta ante erat, id lobortis diam scelerisque a. Morbi et elementum nunc, eget bibendum nulla.
        </p>
      </div>
    </div>
  </div>
</section>
<section class = "light-blue-block">
  <div class = "container">
    <div class = "row">
      <div class = "span8">
        <h1>Alias Anonymity</h1> 
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper posuere interdum. Fusce gravida justo non lectus sodales, non tristique nunc congue. Suspendisse pulvinar risus odio, eget eleifend neque euismod ac. Morbi fermentum nisi non eros cursus tincidunt. Suspendisse potenti. Nam nec purus et sapien feugiat facilisis eu at diam. Morbi malesuada, enim ac lobortis dictum, orci elit pellentesque dui, in rutrum risus lorem eget tellus. Nullam libero ante, pellentesque ac augue volutpat, lacinia molestie ipsum. Vivamus luctus pulvinar eros sed dignissim. Nulla porta ante erat, id lobortis diam scelerisque a. Morbi et elementum nunc, eget bibendum nulla.
        </p>
      </div>
      <div class = "span4">
        <div class = "pull-right img-rounded" style = "background-color:#EEE; width:250px; height:250px;">
        </div>
      </div>
    </div>
  </div>
</section>
