<%= provide(:title, 'Home') %>
<div style = "background-color:blue; position:absolute; top:155px; left: 0; bottom: 0; width: 70%; overflow: hidden;">
    <!--Main post box-->
    abc
</div>
<div style = "background-color:green; position:absolute; right:0; width: 30%; top:0; bottom:0;">
    <div style = "background-color:yellow; position:absolute; top:0; bottom:0; left:0; width:20px; cursor:pointer;">
    <!--Expand bar-->
        a
    </div>
    <div style = "background-color:white; position:absolute; top:0; bottom:200px; left:20px; right:0;">
    <!--Map box-->
        b
    </div>
    <div style = "background-color:gray; position:absolute; height:200px; bottom:0; left:20px; right:0;">
    <!--Clowd suggestion box-->
        b
</div>
