<%= provide(:title, 'Home') %>
<div class = "container-fluid" style = "margin-top:-20px; padding-left:0px; padding-right:0px;">
  <div class = "row-fluid">
    <div class = "span8" style = "background-color:blue; height:500px;">
    a
    </div>
    <div class = "span4" style = "background-color:green; height:300px;">

    </div>
  </div>
</div>
