<%= provide(:title, 'Home') %>
<div id = "load-left">
<div class = "load-left-text">
Loading Posts...
</div>
</div>
<div class = "left-container">
    <!--Main post box-->
    <div class = "text-container">
        <div class = "depth-label">General /</div>
        <div class = "post-writer-container">
            <textarea id = "post-writer" placeholder = "Post, Chat, or Share a pic!"></textarea>
        </div>

        <div class = "posts-container">

            <div class = "post">
                <div class = "post-left">
                    <div class = "post-top text-left">
                        <div class = "line-container">
                        <span class = "line-text pull-left post-type">
                            text 
                        </span>
                        <span class = "line-text pull-right post-clowd">
                            Starbucks
                        </span>
                        </div>
                    </div>
                    <div class = "post-mid post-content">
                        <h2 class = "post-title">This is a post. This is a post!</h2>
                    </div>
                    <div class = "post-bot">
                        <span class = "pull-left">
                            <span class = "user-name">ian-lee</span> <i class = "post-time">(3 hours ago)</i> 
                        </span>
                        <span class = "pull-right">
                            <a href = "#" class = "post-link">300 Responses</a> &nbsp; &nbsp; <a href = "#" class = "post-link">Reply</a>
                        </span>
                    </div>
                </div>
                <div class = "post-center">
                    <div class = "post-top text-right pos-rating">
                        1924
                    </div>
                    <div class = "post-bot text-right neg-rating">
                        657
                    </div>

                </div>
                <div class = "post-right">
                    <div class = "post-top">
                        <div class = "vote-button">
                            <i class = "icon-chevron-up icon-white"></i>
                        </div>
                    </div>
                    <div class = "post-mid">
                       <div class = "rating-bar">&nbsp;</div> 
                       <div class = "rating-bar-fill">&nbsp;</div> 
                       <div class = "rating-overlay">30%</div>
                    </div>
                    <div class = "post-bot">
                        <div class = "vote-button">
                            <i class = "icon-chevron-down icon-white"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "post">
                <div class = "post-left">
                    <div class = "post-top text-left">
                        <div class = "line-container">
                        <span class = "line-text pull-left post-type">
                            text 
                        </span>
                        <span class = "line-text pull-right post-clowd">
                            Starbucks
                        </span>
                        </div>
                    </div>
                    <div class = "post-mid post-content">
                        <h2 class = "post-title">This is another post. It is also a post!</h2>
                    </div>
                    <div class = "post-bot">
                        <span class = "pull-left">
                            <span class = "user-name">ian-lee</span> <i class = "post-time">(3 hours ago)</i> 
                        </span>
                        <span class = "pull-right">
                            <a href = "#" class = "post-link">300 Responses</a> &nbsp; &nbsp; <a href = "#" class = "post-link">Reply</a>
                        </span>
                    </div>
                </div>
                <div class = "post-center">
                    <div class = "post-top text-right pos-rating">
                        1924
                    </div>
                    <div class = "post-bot text-right neg-rating">
                        657
                    </div>

                </div>
                <div class = "post-right">
                    <div class = "post-top">
                        <div class = "vote-button">
                            <i class = "icon-chevron-up icon-white"></i>
                        </div>
                    </div>
                    <div class = "post-mid">
                       <div class = "rating-bar">&nbsp;</div> 
                       <div class = "rating-bar-fill">&nbsp;</div> 
                       <div class = "rating-overlay">30%</div>
                    </div>
                    <div class = "post-bot">
                        <div class = "vote-button">
                            <i class = "icon-chevron-down icon-white"></i>
                        </div>
                    </div>
                </div>
            </div>


            <div class = "post">
                <div class = "post-left">
                    <div class = "post-top text-left">
                        <div class = "line-container">
                        <span class = "line-text pull-left post-type">
                            text
                        </span>
                        <span class = "line-text pull-right post-clowd">
                            Starbucks
                        </span>
                        </div>
                    </div>
                    <div class = "post-mid post-content">
                        <h2 class = "post-title">Wooo look at me.... I'm an attention whoreeeee whooopeee!!!</h2>
                    </div>
                    <div class = "post-bot">
                        <span class = "pull-left">
                            <span class = "user-name">ian-lee</span> <i class = "post-time">(3 hours ago)</i> 
                        </span>
                        <span class = "pull-right">
                            <a href = "#" class = "post-link">300 Responses</a> &nbsp; &nbsp; <a href = "#" class = "post-link">Reply</a>
                        </span>
                    </div>
                </div>
                <div class = "post-center">
                    <div class = "post-top text-right pos-rating">
                        1924
                    </div>
                    <div class = "post-bot text-right neg-rating">
                        657
                    </div>

                </div>
                <div class = "post-right">
                    <div class = "post-top">
                        <div class = "vote-button">
                            <i class = "icon-chevron-up icon-white"></i>
                        </div>
                    </div>
                    <div class = "post-mid">
                       <div class = "rating-bar">&nbsp;</div> 
                       <div class = "rating-bar-fill">&nbsp;</div> 
                       <div class = "rating-overlay">30%</div>
                    </div>
                    <div class = "post-bot">
                        <div class = "vote-button">
                            <i class = "icon-chevron-down icon-white"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "post">
                <div class = "post-left">
                    <div class = "post-top text-left">
                        <div class = "line-container">
                        <span class = "line-text pull-left post-type">
                            text
                        </span>
                        <span class = "line-text pull-right post-clowd">
                            Starbucks
                        </span>
                        </div>
                    </div>
                    <div class = "post-mid post-content">
                        <h2 class = "post-title">YEEEEE oooooohhhh yeaaaahhhh yeyeyeyeyeye heeeeeeeeeeeeeeeeeeeeeeeeey theree what's up man</h2>
                    </div>
                    <div class = "post-bot">
                        <span class = "pull-left">
                            <span class = "user-name">ian-lee</span> <i class = "post-time">(3 hours ago)</i> 
                        </span>
                        <span class = "pull-right">
                            <a href = "#" class = "post-link">300 Responses</a> &nbsp; &nbsp; <a href = "#" class = "post-link">Reply</a>
                        </span>
                    </div>
                </div>
                <div class = "post-center">
                    <div class = "post-top text-right pos-rating">
                        1924
                    </div>
                    <div class = "post-bot text-right neg-rating">
                        657
                    </div>

                </div>
                <div class = "post-right">
                    <div class = "post-top">
                        <div class = "vote-button">
                            <i class = "icon-chevron-up icon-white"></i>
                        </div>
                    </div>
                    <div class = "post-mid">
                       <div class = "rating-bar">&nbsp;</div> 
                       <div class = "rating-bar-fill">&nbsp;</div> 
                       <div class = "rating-overlay">30%</div>
                    </div>
                    <div class = "post-bot">
                        <div class = "vote-button">
                            <i class = "icon-chevron-down icon-white"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "post">
                <div class = "post-left">
                    <div class = "post-top text-left">
                        <div class = "line-container">
                        <span class = "line-text pull-left post-type">
                            text
                        </span>
                        <span class = "line-text pull-right post-clowd">
                            Starbucks
                        </span>
                        </div>
                    </div>
                    <div class = "post-mid post-content">
                        <h2 class = "post-title">YEEEEE oooooohhhh yeaaaahhhh</h2>
                    </div>
                    <div class = "post-bot">
                        <span class = "pull-left">
                            <span class = "user-name">ian-lee</span> <i class = "post-time">(3 hours ago)</i> 
                        </span>
                        <span class = "pull-right">
                            <a href = "#" class = "post-link">300 Responses</a> &nbsp; &nbsp; <a href = "#" class = "post-link">Reply</a>
                        </span>
                    </div>
                </div>
                <div class = "post-center">
                    <div class = "post-top text-right pos-rating">
                        1924
                    </div>
                    <div class = "post-bot text-right neg-rating">
                        657
                    </div>

                </div>
                <div class = "post-right">
                    <div class = "post-top">
                        <div class = "vote-button">
                            <i class = "icon-chevron-up icon-white"></i>
                        </div>
                    </div>
                    <div class = "post-mid">
                       <div class = "rating-bar">&nbsp;</div> 
                       <div class = "rating-bar-fill">&nbsp;</div> 
                       <div class = "rating-overlay">30%</div>
                    </div>
                    <div class = "post-bot">
                        <div class = "vote-button">
                            <i class = "icon-chevron-down icon-white"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class = "right-container">
    <div class = "expand-bar">
    <!--Expand bar-->
         <div id = "expand-icons">
             <i class = "icon-arrow-left"></i>
             <br />
             <i class = "icon-arrow-left"></i>
             <br />
             <i class = "icon-arrow-left"></i>
         </div>
    </div>
    <div class = "map-box">
    <!--Map box-->
        <div id = "map">
           <div class = "map-placeholder">Loading Maps...</div>
        </div>
    </div>
    <div class = "suggest-box">
    <!--Clowd suggestion box-->
        <div class = "suggest-inner-box">
            <div class = "text-container">
                <h4 class = "suggest-title">Nearby Clowds</h4>
                <ul class = "clowd-listing">
                    <li><a href= "#">Goldman Sachs</a></li>
                    <li><a href= "#">Chinese International School</a></li>
                    <li><a href= "#">Starbucks</a></li>
                    <li><a href= "#">Socialito</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
