/*
*= require leaflet
*= require leaflet.ie
*/
@import "bootstrap";

/* mixins and variables */
$blueLight: #66CCFF;
$blueSuperLight: #CCFFFF;
$blueDark: #06C;
$orangeDark: #FF6600;
$graySuperLight: #CCC;

@mixin border-radius($vert, $horiz, $radius: 5px) {
    -webkit-border-#{$vert}-#{$horiz}-radius: $radius;
    -moz-border-#{$vert}-#{$horiz}-radius: $radius;
    -border-#{$vert}-#{$horiz}-radius: $radius;
}

/* general */
textarea {
    resize: none;
}
.crow {
    clear: both;
    width: 100%;
}


/* main container */
.depth-label {
    color: $orangeDark;
}
.post-writer-container {
    margin-top: 20px;
}
#post-writer {
    width: 100%;
    height: 20px;
}
.line-container {
    line-height: 1px;
    border-bottom: 1px solid $grayLight;
    margin-top: 9px;
}
.line-text {
    background-color: #FFF; 
    padding: 0 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.post {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.post-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100px;
}
.post-center {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    width: 40px;
}
.post-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60px;
}
.post-top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 25px;
}
.post-mid {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
}
.post-bot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    margin-bottom: -5px;
}
h2.post-title {
    margin: 10px 0 0 0;
    padding:0;
    color: $infoText;
}
.post-content {
}

.vote-button {
    width: 50px;
    background-color: $grayLight;
    float: right;
    cursor: pointer;
    text-align: center;
}

.vote-button:hover {
    background-color: $gray;
}

.rating-bar {
   position: absolute;
   z-index: 20;
   left: 15px;
   bottom: 50%;
   margin-bottom: -50px;
   width: 40px;
   height: 100px;
   background-color: $graySuperLight;
   @include border-radius(top, left); 
   @include border-radius(top, right); 
   @include border-radius(bottom, left); 
   @include border-radius(bottom, right); 
}

.rating-bar-fill {
   position: absolute;
   z-index: 21;
   left: 15px;
   bottom: 50%;
   margin-bottom: -50px;
   width: 40px;
   height: 70px;
   background-color: $orange;
   @include border-radius(bottom, left); 
   @include border-radius(bottom, right); 
}

.rating-overlay {
    position: absolute;
    z-index: 22;
    right: 7px;
    bottom: 50%;
    margin-bottom: -15px;
    color: #FFF;
    font-weight: bold;
}

.pos-rating {
    color: $green;
}

.neg-rating {
    color: $red;
}

a.post-link {
    text-decoration: none;
    color: $orangeDark;
}
a.post-link:hover {
    text-decoration: underline;
}

.post-type {
    color: $gray;
}

.post-clowd {
    color: $gray;
    font-weight: bold;
}

.post-time {
    color: $gray;
}

.user-name {
    font-weight: bold;
    text-decoration: underline;
    color: $grayDark;
}

/* map settings */
.map-placeholder {
    position: absolute;
    top: 175px;
    left: 10px;
    font-size: 36px;
    color: #CCC;
}

#map {
    background-color:#EEE;
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* suggest box settings */
h4.suggest-title {
    color: #333;
}

ul.clowd-listing {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* page framework */
.top-bar-background {
  background-color: #EEE;
  height: 150px;
  opacity: .9;
  filter: alpha(opacity=90);
  border-bottom: solid $blue 5px;
}

.left-container {
    background-color: #FFF;
    position: absolute;
    z-index: 30;
    width: 70%;
    top: 155px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}

#load-left {
    background-color: #FFF;
    position: absolute;
    z-index: 31;
    width: 70%;
    top: 155px;
    bottom: 0;
    left: 0;
}
.load-left-text {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 36px;
    color: #CCC;
}

.right-container {
    background-color: green;
    position: absolute;
    width: 30%;
    top: 0; 
    bottom: 0;
    right: 0;
}

.expand-bar {
    background-color: #666;
    position: absolute;
    z-index: 12;
    width: 20px; 
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    border-left: 2px solid #888;
    border-right: 2px solid #555;
    vertical-align: bottom;

}

.expand-bar:hover {
    background-color: #555;
    border-left: 2px solid #666;
    border-right: 2px solid #777;
}

#expand-icons {
    position: absolute;
    top: 50%;
    margin-left: 2px;
    opacity: .7;
    filter: alpha(opacity=70);
}


.map-box {
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    margin-top: -200px;
    height: 100%;
    top: 0;
    left: 20px;
    right: 0;
}


.suggest-box {
    background-color: $blueDark;
    position: absolute;
    z-index: 11;
    height: 200px;
    left: 20px;
    right: 0;
    bottom: 0;
}

.suggest-inner-box {
    background-color: #FFF;
    position: absolute;
    height: 197px;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-container {
    position: absolute;
    top: 5px;
    left: 10px;
    right: 10px;
}

/* bootstrap extensions */
.btn-xlarge {
  padding: 22px 26px;
  font-size: 24px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
