<footer class = "container">
  <div class = "row text-center">
    <span class = "sub-text">All Rights Reserved Clowder 2013 &copy;</span>
  </div>
  <div class = "row text-center">
    <a href = "#">About</a> &nbsp; &nbsp;
    <a href = "#">Terms</a> &nbsp; &nbsp;
    <a href = "#">Contact</a> &nbsp; &nbsp;
  </div>
</footer>
