<header class = "container">
  <div class = "row">
    <div class = "span4 offset8">
      <div class = "pull-right button-bar">
        <ul class = "nav nav-pills">
          <li class = "active"><a href = "#">Home</a></li>
          &nbsp; &nbsp;
          <li><a href = "#">Settings</a></li>
          &nbsp; &nbsp;
          <li><a href = "#">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
