<header class = "container">
  <div class = "row">
    <div class = "span4 offset8">
      <div class = "pull-right button-bar">
        <ul class = "nav nav-pills">
          <li <% if yield(:title) == "Home" %> class = "active" <% end %>><a href = "/">Home</a></li>
          &nbsp; &nbsp;
          <li <% if yield(:title) == "FAQ" %> class = "active" <% end %>><a href = "/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class = "row text-center">
    <% flash.each do |k,v| %>
      <%= content_tag(:div, v, class: "alert-#{k}") %>
    <% end %>
  </div>
</header>
