<div class = "navbar-fixed-top top-bar-background"></div>
<header class = "navbar-fixed-top">
<div class = "container" style = "padding-top:50px;">
  <div class = "row">
    <div class = "span3">
      <h1 class = "pull-right">Clowder</h1>
    </div>
    <div class = "span7" style = "padding-top:15px;">
      <div class = "input-append">
      <input type = "text" placeholder = "Search for places or clowds" class = "span6">
      <button class = "btn">Search</button>
      </div>
    </div>
    <div class = "span2" style = "padding-top:20px;">
      <div class = "pull-left">
        <a href = "#">Login</a> or <a href = "#">Register</a>
      </div>
    </div>
  </div>
</div>
</header>

