<footer class = "container">
  <div class = "row text-center">
    <span class = "sub-text">All Rights Reserved Clowder 2013 &copy;</span>
  </div>
  <div class = "row text-center">
    <a href = "/about">About</a> &nbsp; &nbsp;
    <a href = "/terms">Terms</a> &nbsp; &nbsp;
    <a href = "/contact">Contact</a> &nbsp; &nbsp;
  </div>
</footer>
