<button id = "dimmer_close" class = "close pull-right">&times;</button>
<div class = "popup-content">
    <h2 class = "popup-title pull-left"><%= content_for :heading %></h2>

    <div class = "clear-floats">
    <%= yield %>
    </div>
</div>
